html, body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

html {
    width: 100dvw;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

/* Elements */
.cta-button {
    background-color: var(--accent-color);
    padding: 9px 27px;
    display: inline-block;
    text-align: center;
    font-family: var(--primary-font);
    color: white;
    letter-spacing: 1px;
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

nav > .cta-button:hover {
    color: black;
}

.cta-button:hover {
    background-color: rgb(79, 132, 154, 0.4);
}

/* group-style Sections */

/* Navbar */
nav {
    width: calc(100% - (var(--page-x-deadzone) * 2));
    background-color: var(--primary-color);
    margin: 0 var(--page-x-deadzone);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
}

nav > .logo > img {
    height: 50px;
}

.nav-links {
    width: calc(100% + (var(--page-x-deadzone) * 2));
    background-color: whitesmoke;
    padding: 10px 0;
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.nav-links.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
    pointer-events: auto;
}

.nav-links > a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-links > a:hover {
    color: var(--accent-color);
}

nav > .hamburger {
    /* display: none; */
    padding: 22px 13px;
    background-color: var(--accent-color);
    border-radius: 8px;
}

nav > .cta-button {
    display: none;
}

/* Desktop Nav */
@media only screen and (min-width: 992px) {
    nav > .hamburger {
        display: none;
    }

    nav > .cta-button {
        display: block;
    }

    nav > .nav-links {
        width: unset;
        background-color: transparent;
        flex-direction: row;
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        pointer-events: auto;
        transition: unset;
    }

    nav > .nav-links > .cta-button {
        display: none;
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: var(--page-y-spacing);
}

footer > .footer-content {
    width: 100%;
    padding: 40px var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

footer > .footer-content > .footer-company {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > .footer-content > .footer-company > .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

footer > .footer-content > .footer-company > .logo > img {
    width: 80px;
}

footer > .footer-content > .footer-company > .description {
    line-height: 1.4;
}

footer > .footer-content > .footer-company > .cta-button {
    width: fit-content;
}

footer > .footer-content > .footer-company > .cta-button:hover {
    color: black;
}

footer > .footer-content .title {
    font-family: var(--secondary-font);
    font-size: 20px;
}

footer > .footer-content > .bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer > .footer-content > .bottom > .footer-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > .footer-content > .bottom > .footer-links a, footer > .footer-content > .bottom > .footer-contact a {
    text-decoration: none;
    color: black;
}

footer > .footer-content > .bottom > .footer-links a:hover, footer > .footer-content > .bottom > .footer-contact a:hover {
    color: var(--accent-color);
}

footer > .footer-content > .bottom > .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > .footer-content > .bottom > .footer-contact svg {
    width: 20px;
}

footer > .footer-content > .bottom > .footer-contact  a {
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    gap: 5px;
}

footer > .footer-content > .bottom > .footer-contact a:hover svg {
    fill: var(--accent-color);
}

/* Adjust for wider screens */

@media only screen and (min-width: 600px) {
    footer > .footer-content > .bottom {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1056px) {
    footer > .footer-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }

    footer > .footer-content > .footer-company {
        width: 50%;
    }

    footer > .footer-content > .bottom {
        width: 50%;
        margin-top: 80px;
        gap: 100px;
    }
}

/* Section banner */

.section-banner {
    width: 100%;
    background-color: var(--secondary-color);
    margin: var(--page-y-spacing) 0 0 0;
    padding: 20px var(--page-x-deadzone);
    /* border-radius: 10px; */
}

.section-banner > .left {
    width: fit-content;
    font-size: 25px;
    position: relative;
}

.section-banner > .right {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.3;
}

.section-banner > .left::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -3px;
    display: block;
    border-radius: 5px;
}

.section-banner.sub > .left::after {
    display: none;
}

@media only screen and (min-width: 600px) {
    .section-banner {
        width: calc(100% - (var(--page-x-deadzone) * 2));
        margin-left: var(--page-x-deadzone);
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
    }

    .section-banner > .left {
        max-width: 40%;
        padding: 0 20px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-banner > .left::after {
        height: 100%;
        min-height: 35px;
        width: 3px;
        top: 0;
        bottom: unset;
        right: 5px;
    }

    .section-banner > .right {
        max-width: 60%;
        margin: 0;
        padding: 0 0 0 8px;
    }
}