/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Libraries */
@import url("reset.css");
@import url("variables.css");
@import url("base.css");

/* Coming soon page stye */
body {
    background-color: black;
}

body > img {
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

body > .content {
    min-width: 250px;
    width: 80vw;
    margin-top: 178px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

body > .content > .title {
    width: 100%;
    font-size: clamp(28px, 8vw, 100px);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

body > .content > .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1.4vw; /* scales with screen size */
    width: 100%;
    height: 50%; /* % of title height instead of fixed pixels */
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7),
        black
    );
}

body > .content > .subtitle {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: max(13px, 2.2vw);
    color: var(--accent-color);
    z-index: 2;
}

body > .designer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: clamp(13px, 1.7vw, 16px);
    gap: 10px;
}

body > .designer > a {
    height: max(1vw, 17px);
}

body > .designer > a:hover > svg {
    fill: var(--accent-color);
}

body > .designer > a > svg {
    height: max(1vw, 17px);
    fill: white;
}