/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Libraries */
@import url("../vendor/corbzhamburger/hamburger.css");

@import url("reset.css");
@import url("variables.css");
@import url("base.css");

/* Global Styles */

/* group-style Homepage */

/* Hero */

.hero {
    min-height: 500px;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
    url(../images/hero.webp);
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
    position: relative;
}

.hero > .content {
    position: absolute;
    top: 55%;
    left: 30px;
    transform: translateY(-50%);
    /* bottom: 80px; */
    color: white;
}

.hero > .content > .subtitle {
    font-size: 14px;
    opacity: 0.8;
    text-transform: capitalize;
}

.hero > .content > .title {
    margin-top: 2px;
    font-family: var(--accent-font);
    font-weight: normal;
    /* font-size: 80px; */
    font-size: 60px;
    text-transform: capitalize;
    line-height: 1;
}

.hero > .content > .title > div {
    color: var(--accent-color);
}

.hero > .content > .cta-button {
    margin-top: 20px;
}

@media only screen and (min-width: 600px) {
    .hero {
        min-height: 600px;
        width: calc(100% - (var(--page-x-deadzone) * 2));
        margin: 0 var(--page-x-deadzone);
        border-radius: 25px;
    }

    .hero > .content {
        top: unset;
        bottom: 50px;
        left: 50px;
        transform: unset;
    }
}

/* For other pages */


/* Services */
.services-home {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: var(--page-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    text-align: center;
    font-family: var(--accent-font);
    font-size: 40px;
}

.section-subtitle {
    text-align: center;
}

.services-home > .content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-y-spacing);
}

.services-home > .content > .card {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);
}

.services-home > .content > .card > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
}

.services-home > .content > .card > .title {
    width: 100%;
    margin-top: 0px;
    padding: 0 20px;
    /* font-family: var(--accent-font); */
    text-align: center;
    font-size: 22px;
}

.services-home > .content > .card > .details {
    padding: 10px 20px 20px 20px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 768px) {
    .services-home > .content {
        grid-template-columns: 1fr 1fr;
        gap: var(--page-x-deadzone);
    }
}

@media only screen and (min-width: 1200px) {
    .services-home > .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Testimonials */

.testimonials {
    width: 100%;
    margin-top: var(--page-y-spacing);
    padding: 0 var(--page-x-deadzone);
    position: relative;
}

.testimonials > .content {
    margin: 25px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--page-y-spacing);
}

.testimonials > .content > .card {
    min-height: 350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    transition: background-color 0.2s;
}

.testimonials > .content > .card > .description {
    font-style: italic;
    line-height: 1.2;
    transition: opacity 0.2s;
}

.testimonials > .content > .card > .name {
    color: black;
    font-family: var(--accent-font);
    /* font-weight: bold; */
    font-size: 25px;
    /* color: var(--accent-color); */
    transition: color 0.2s;
}

/* Card hover animation */
.testimonials > .content > .card:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.testimonials > .content > .card:hover > .description {
    opacity: 0;
}

.testimonials > .content > .card:hover > .name {
    color: white;
}

@media only screen and (min-width: 650px) {
    .testimonials > .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 975px) {
    .testimonials > .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* groud-style About us page */

.team {
    width: 100%;
    background-color: var(--secondary-color);
    margin-top: var(--page-y-spacing);
    padding: 50px 0;
}

.team > .content {
    width: 100%;
    margin-top: 65px;
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    /* justify-content: space-evenly; */
}

.team > .content > .card {
    min-height: 520px;
    width: 100%;
    max-width: 450px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(0.9);
    overflow: hidden;
    border-radius: 5px;
}

.team > .content > .card.active {
    overflow: visible;
}

.team > .content > .card > .details {
    height: 100%;
    width: 100%;
    background-color: rgba(79, 132, 154, 0.7);
    padding: 20px;
    backdrop-filter: blur(10px);
    color: white;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: top 0.4s;
}

.team > .content > .card > .details.active {
    top: 0;
}

.team > .content > .card > .details > .title {
    background-color: rgb(79, 132, 154);
    padding: 5px 20px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.team > .content > .card > .details > .title::after {
    content: "";
    height: 7px;
    width: 7px;
    margin-top: 5px;
    display: block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    transition: transform 0.4s;
}

.team > .content > .card > .details.active > .title::after {
    transform: rotate(135deg);
}

.team > .content > .card > .details > .name {
    width: 100%;
    text-align: center;
    font-family: var(--accent-font);
    font-size: 28px;
}

@media only screen and (min-width: 742px) {
    .team > .content {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Mission */

.mission {
    width: 100%;
    margin-top: var(--page-y-spacing);
}

.mission > .content {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.mission > .content > .card {
    min-height: 350px;
    width: 100%;
    max-width: 350px;
    background-color: var(--accent-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.4;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
}

.mission > .content > .card.misssion {
    background-color: rgb(158, 61, 74);
}

.mission > .content > .card.vision {
    background-color: rgb(122, 109, 178);
}

.mission > .content > .card > .title {
    font-size: 20px;
    color: white;
}

@media only screen and (min-width: 810px) {
    .mission > .content {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}