:root {
    --primary-color: rgb(245, 245, 245);
    --secondary-color: rgb(255, 255, 255);
    --mobile-nav-height: 90px;
    --page-y-spacing: 50px;
    --page-x-deadzone: 30px;
    --primary-font: "Montserrat", sans-serif;
    --accent-font: "Crimson Text", serif;
    --accent-color: rgb(79, 132, 154);
    /* rgb(230, 160, 145) */
}

/* Adjust vars */

@media only screen and (min-width: 1200px) {
    :root {
        --page-x-deadzone: 50px;
        --page-y-spacing: 100px;
    }
}